# System files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/
package-lock.json

# Environment files
.env
.env.local
.env.*.local

# Build output
dist/
build/
out/

# Cache
.cache/